body {
  margin: 0 auto;
  background-color: #ddd;
}

* { margin: 0; padding: 0; }

.wrap {
  margin: 100px auto 0;
  padding: 15px;
  max-width: 600px;
}

.sliderWrapper button {
  margin: .5em .5em .5em 0;
  padding: 5px;
  cursor: pointer;
}

.sliderWrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.sliderBase {
  position: relative;
}

.sliderBase > li {
  float: left;
  display: block;
  background-color: #bbb;
}

.sliderBase > li > div {
  width: 100%;
  display: block;
}
.sliderBase > li > img {
  width: 100%;
}

.sliderBase li:nth-child(odd) { background-color: #aaa;}

.slider-controls { clear: both; }